<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<nofrixion>
				<active>1</active>
                <mode>0</mode>
				<model>Nofrixion\Payments\Model\Payment\Nofrixion</model>
				<title>Pay by Bank</title>
                <payment_options>pisp</payment_options>
                <pisp_currency>EUR</pisp_currency>
				<cards_title>Pay by Card</cards_title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</nofrixion>
		</payment>
	</default>
</config>
