#spacer {
    padding-left: 10%;
}

.hidden {
    display: none;
}

div .bankButton {
    border-width: 0px;
}

.bankButton {
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #cbd5e0;
    width: auto;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border-color: #cbd5e0;
}

.bankButton:focus {
    border-color: #a0aec0;
}

.bankButton:hover {
    border-color: #a0aec0;
}

.cardButton {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #cbd5e0;
    width: auto;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border-color: #cbd5e0;
}

.cardButton:focus {
    border-color: #a0aec0;
}

.cardButton:hover {
    border-color: #a0aec0;
}

.nfHeader {
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nfInput {
    width: 100px !important;
}

.nfPrompt {
    padding-bottom: 1rem;
}

.nfPaymentSection {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@-webkit-keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 261.02130126953125px;
      stroke-dasharray: 261.02130126953125px;
    }
  
    50% {
      stroke-dashoffset: 0px;
      stroke-dasharray: 261px;
    }
  
    100% {
      stroke-dashoffset: -261px;
      stroke-dasharray: 261px;
    }
  }
  
  @keyframes animate-svg-stroke-1 {
  
    0% {
      stroke-dashoffset: 261px;
      stroke-dasharray: 261px;
    }
  
    50% {
      stroke-dashoffset: 0px;
      stroke-dasharray: 261px;
    }
  
    100% {
      stroke-dashoffset: -261px;
      stroke-dasharray: 261px;
    }
  }
  
  .svg-elem-1 {
    -webkit-animation: animate-svg-stroke-1 2s cubic-bezier(0.65, 0.05, 0.36, 1) 0s both infinite;
            animation: animate-svg-stroke-1 2s cubic-bezier(0.65, 0.05, 0.36, 1) 0s both infinite;
  }

.payment-method-processing-text {
	font-family: Inter, sans-serif; color: #042A31; font-size: 1.5rem; margin-top: 1rem;
}

#processing-animation {
	text-align: center; margin: 8rem;
}